@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "EditUser";
}
@model TableUser
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<link href="~/css/editprofile.css" rel="stylesheet">
<div class="main-body">
    <div class="card shadow mb-4">
        <div class="card-header py-3 ">
            <div class="row">
                <div class="col pt-2 mb-3">
                    <h3 class="m-0 font-weight-bold text-primary">User Profile</h3>
                </div>
            </div>


            <div class="row gutters-md ">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">


                                <a href="#" id="changeImage">
                                <div class="container-image">
                                    <img src="~/img/@Model.Profile_Pic" alt="Admin" id="profilePic" class="rounded-circle image-change" width="160">
                                    <div class="middle">
                                        <div class="text-change"><i class="bi bi-upload"></i></div>
                                    </div>
                                </div>
                                
                                <input id='imageUpload' type='file' accept="image/*" hidden />
                                </a>


                                
                                <div class="mt-3">
                                    <h4>@Model.First_Name @Model.Last_Name</h4>
                                    @if (Model.Is_Admin)
                                    {
                                        <p class="text-secondary mb-2">Admin</p>
                                    }
                                    else
                                    {
                                        <p class="text-secondary mb-1">Employee</p>
                                    }
                                    <p class="text-secondary mb-1"></p>
                                    <p class="text-muted font-size-sm pb-4">Company ID: #@Model.Company_ID</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <form class="user" method="post" asp-action="EditUser" onsubmit="validatePasswords(event)">
                                <div class="row mb-3">
                                 
                                <div class="col-sm-3">
                                    <h6 class="mt-2">First Name</h6>
                                </div>

                                    

                                    

                                    <input asp-for="Profile_Pic" type="text" id="profpic" hidden class="form-control"
                                           placeholder="Profile Pic" required>

                                    <input asp-for="Is_Admin" type="text" hidden class="form-control"
                                           placeholder="Is Admin" required>

                                <div class="col-sm-9 text-secondary">
                                        <input asp-for="First_Name" type="text" class="form-control"
                                               placeholder="First Name" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                        <input asp-for="Last_Name" type="text" class="form-control"
                                               placeholder="Last Name" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Middle Initial</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                        <input asp-for="Middle_Initial" type="text" class="form-control"
                                               placeholder="Middle Initial" required>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                        <input asp-for="Email" type="email" class="form-control"
                                               placeholder="Email" required>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mt-2">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                        <input asp-for="Mobile_Number" minlength="11" maxlength="11" type="text" class="form-control"
                                               placeholder="Mobile Number" required>
                                </div>
                            </div>
                            <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        
                                        <h6 class="mt-2">Password</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        
                                        <input asp-for="Password" minlength="8" type="password" value="" class="form-control @TempData["error"]">
                                    </div>
                                </div>
                                <hr>

                                <div class="row ">
                                    <div class="col-sm-3">
                                        <h6 class="mt-2">Confirm Password</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary password">
                                        <span class="text-danger small">&nbsp;@TempData["passwordMismatch"]</span>
                                        <input asp-for="Confirm_Password" minlength="8" type="password" value="" class="form-control @TempData["error"]">
                                        
                                    </div>
                                </div>
                                <hr>
                          

                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                </div>
                                <div class="col col-lg-2" >
                                    <a asp-controller="Profile" asp-action="Index" class="btn btn-danger btn-icon-split btn-lg">
                                        <span class="icon text-white-50">
                                            <i class="bi bi-x-square"></i>
                                        </span>
                                        <span class="text">Cancel</span>
                                    </a>
                                </div>

                                <div class="col col-lg-2" >
                                        <button type="submit" class="btn btn-success btn-icon-split btn-lg" id="btnSubmit">
                                        <span class="icon text-white-50">
                                            <i class="bi bi-check2-square"></i>
                                        </span>
                                        <span class="text ml-2 mr-2">Save</span>
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                        
                    </div>
                    
                    


                </div>





            </div>

        </div>
    </div>

</div>
<script src="~/js/demo/changeImage.js"></script>
<script src="~/js/passwordValidator.js"></script>