.select-form {
    font-size: .8rem;
    border-radius: 10rem;
    height: 50px;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 28px) calc(1em + 8px), calc(100% - 23px) calc(1em + 8px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
.container-image {
    position: relative;
}

.image-change {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-image:hover .image-change {
    opacity: 0.3;
}

.container-image:hover .middle {
    opacity: 1;
}

.text-change {
    color: gray;
    font-size: 50px;
    padding: 16px 32px;
}