@model TableStatus
@{
    ViewData["Title"] = "CreateStatus";
}


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create Status</h1>
                            <hr />
                        </div>
                        <form class="user" method="post">

                            <div class="form-group row">
                                <select asp-for="Candidate_ID" asp-items="ViewBag.Candidate" class="form-control  select-form" required></select>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Status" type="text" class="form-control form-control-user"
                                       placeholder="Status" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Date" type="date" class="form-control form-control-user"
                                       placeholder="Date" required>
                            </div>
                            <div class="form-group row">
                                <select asp-for="Approved_By" asp-items="ViewBag.Approved" class="form-control  select-form" required></select>
                            </div>
                            <div class="form-group row">
                                <select asp-for="Assessed_By" asp-items="ViewBag.Assessed" class="form-control  select-form" required></select>
                            </div>
                            <div class="form-group row">
                                <select asp-for="Hired_By" asp-items="ViewBag.Hired" class="form-control  select-form" required></select>
                            </div>
                           
                            
                            
                            <hr>
                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">

                                    <a asp-controller="TableStatus" asp-action="Index"  class="btn btn-danger btn-user btn-block">
                                        Cancel
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Create</button>
                                </div>
                            </div>
                            

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

