@model TableJobApplication
@{
    ViewData["Title"] = "UpdateJobApplication";
}


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Update Job Application</h1>
                            <hr />
                        </div>
                        <form class="user" method="post" asp-action="UpdateJobApplication">
                            <input asp-for="Application_ID"  hidden>
                            <div class="form-group row">
                                <input asp-for="Is_Approved" type="text" class="form-control form-control-user"
                                       placeholder="Is Approved" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Date_Received" type="datetime-local" class="form-control form-control-user"
                                       placeholder="Date Received" required>
                            </div>
                            <div class="form-group row">
                                <select asp-for="IntroductionID" asp-items="ViewBag.Introductions" class="form-control  select-form" required></select>
                            </div>
                            <div class="form-group row">
                                <select asp-for="DatasheetID" asp-items="ViewBag.Datasheets" class="form-control  select-form" required></select>
                            </div>
                            <div class="form-group row">
                                <select asp-for="CompanyID" asp-items="ViewBag.Users" class="form-control  select-form" required></select>
                            </div>
                            
                            <hr>
                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">

                                    <a asp-controller="TableJobApplication" asp-action="TableJobApplication"  class="btn btn-danger btn-user btn-block">
                                        Cancel
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Update</button>
                                </div>
                            </div>
                            

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

