@model TableJobApplication
@{
    ViewData["Title"] = "UpdateJobApplication";
}


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Update Job Application</h1>
                            <hr />
                        </div>
                        <form class="user" method="post" asp-action="UpdateJobApplication">
                            <input asp-for="Job_Application_ID"  hidden>
                            <div class="form-group row">
                                <input asp-for="Job" type="text" class="form-control form-control-user"
                                       placeholder="Job" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Job_Description" type="text" class="form-control form-control-user"
                                       placeholder="Job Description" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Icon" type="text" class="form-control form-control-user"
                                       placeholder="Icon" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Date_Published" type="date" class="form-control form-control-user"
                                       placeholder="Date Published" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Date_End" type="date" class="form-control form-control-user"
                                       placeholder="Date End" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Vacancy" type="number" class="form-control form-control-user"
                                       placeholder="Number of Hires" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Salary" type="text" class="form-control form-control-user"
                                       placeholder="Salary" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Job_Nature" type="text" class="form-control form-control-user"
                                       placeholder="Job Nature" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Province" type="text" class="form-control form-control-user"
                                       placeholder="Province" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="City" type="text" class="form-control form-control-user"
                                       placeholder="City" required>
                            </div>
                            <div class="form-group row">
                                <select  class="form-control select-form"
                                        placeholder="Is Open" required>
                                    <option selected disabled>----Is Open----</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            
                            <hr>
                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">

                                    <a asp-controller="TableJobApplication" asp-action="Index"  class="btn btn-danger btn-user btn-block">
                                        Cancel
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Update</button>
                                </div>
                            </div>
                            

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

