@{
    ViewData["Title"] = "Upload Resume";
}
<link rel="stylesheet" href="~/css/resume.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col">
                    <div class="p-5">


                        <div class="text-center">

                            <h1 class="h3 mb-1 text-gray-800">Upload Resume</h1>
                                <form method="post" asp-controller="UploadDetails" asp-action="UploadResume" enctype="multipart/form-data">
                            <div class="drop_box">
                                <header>
                                    <h4>Select File here</h4>
                                </header>
                                <p>Files Supported: PDF</p>
                                    <input type="file" hidden accept=".pdf" id="File1" name="File1">
                                <button type="button" class="btn btn-primary">Choose File</button>
                                </div>
                                  </form>

                        </div>



                    </div>
                </div>
            </div>



        </div>
    </div>

      
  </div>
<script src="~/js/resume.js" asp-append-version="true" async></script>