@{
    ViewData["Title"] = "Index";
}
<!-- CSS for this page -->
<link rel="stylesheet" href="~/css/indexanimate.min.css">
<link rel="stylesheet" href="~/css/customstyle.css">



    <div class="container-xxl">
        <div class="carousel" id="Home">
            <!-- slider_area_start -->
            <div class="slider_area">
                <div class="single_slider  d-flex align-items-center slider_bg_1">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="slider_text">
                                    <h5 class="wow fadeInLeft pl-2" data-wow-duration="1s" data-wow-delay=".2s">
                                        @ViewBag.Count Jobs listed
                                    </h5>
                                    <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                                    <span class="custom-text-alliance">Alliance Software</span>  is
                                        expanding
                                    </h3>
                                    <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                        We are creating career
                                        opportunities for people with great passion in Information Technology
                                    </p>
                                    <div class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                    <a asp-controller="JobListing"  asp-action="Index" class="genric-btn e-large danger radius">Apply</a>
                                    </div>
                                </div>
                            </div>
                        <div class="col-lg-5">
                            <div class="slider_text">
                                <h5 class="wow fadeInRight pl-2" data-wow-duration="1s" data-wow-delay=".2s">
                                    <img class="side-logo" src="img/White1.png" />
                                </h5>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider_area_end -->
            </div>
        </div>

<!-- JS of this page -->
<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/js/isotope.pkgd.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/index.js"></script>
