@model TableCandidate
@{
    ViewData["Title"] = "UpdateCandidate";
}


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Update Candidate</h1>
                            <hr />
                        </div>
                        <form class="user" method="post" asp-action="UpdateCandidate">
                            <input asp-for="Candidate_ID"  hidden>
                            <div class="form-group row">
                                <input asp-for="First_Name" type="text" class="form-control form-control-user"
                                       placeholder="First Name" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Last_Name" type="text" class="form-control form-control-user"
                                       placeholder="Last Name" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Middle_Initital" type="text" class="form-control form-control-user"
                                       placeholder="Middle Initital" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Email" type="email" class="form-control form-control-user"
                                       placeholder="Email" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Mobile_Number" type="text" class="form-control form-control-user"
                                       placeholder="Mobile Number" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Photo" type="text" class="form-control form-control-user"
                                       placeholder="Photo" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Website" type="text" class="form-control form-control-user"
                                       placeholder="Website" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Province" type="text" class="form-control form-control-user"
                                       placeholder="Province" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="City" type="text" class="form-control form-control-user"
                                       placeholder="City" required>
                            </div>
                            <div class="form-group row">
                                <select  class="form-control select-form"
                                        placeholder="Email_Confirmed" required>
                                    <option selected disabled>----Is Hired----</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <select asp-for="Resume_ID" asp-items="ViewBag.Resumes" class="form-control  select-form" required></select>
                            </div>
                            <div class="form-group row">
                                <select asp-for="Introduction_ID" asp-items="ViewBag.Introductions" class="form-control  select-form" required></select>
                            </div>
                            <div class="form-group row">
                                <select asp-for="Assessment_ID" asp-items="ViewBag.Assessments" class="form-control  select-form" required></select>
                            </div>
                            <div class="form-group row">
                                <select asp-for="Job_Application_ID" asp-items="ViewBag.Applications" class="form-control  select-form" required></select>
                            </div>
                            
                            <hr>
                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">

                                    <a asp-controller="TableCandidate" asp-action="Index"  class="btn btn-danger btn-user btn-block">
                                        Cancel
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Update</button>
                                </div>
                            </div>
                            

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

