@model TableUser
@{
    ViewData["Title"] = "CreateUser";
}


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create User</h1>
                            <hr />
                        </div>
                        <form class="user" method="post">
                            <div class="form-group row">
                                <input asp-for="First_Name" type="text" class="form-control form-control-user"
                                       placeholder="First Name" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Last_Name" type="text" class="form-control form-control-user"
                                       placeholder="Last Name" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Middle_Initial" type="text" class="form-control form-control-user"
                                       placeholder="Middle Initial" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Email" type="email" class="form-control form-control-user"
                                       placeholder="Email" required>
                            </div>

                            <div class="form-group row">
                                <input asp-for="Mobile_Number" type="text" class="form-control form-control-user"
                                       placeholder="Mobile Number" required>
                            </div>
                            <div class="form-group row">
                                <input asp-for="Password" type="password" class="form-control form-control-user"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group row">
                                <select asp-for="Is_Admin" class="form-control select-form"
                                       placeholder="Is_Admin" required>
                                    <option value="" disabled selected>----Select----</option>
                                       <option value="True">True</option>
                                       <option value="False">False</option>
                                </select>

                            </div>
                            <div class="form-group row">
                                <input asp-for="Profile_Pic" type="text" class="form-control form-control-user"
                                       placeholder="Profile_Pic" required>
                            </div>
                            <hr>
                            <div class="form-group row">

                                <div class="col-sm-6 mb-3 mb-sm-0">

                                    <a asp-controller="TableUser" asp-action="TableUser" class="btn btn-danger btn-user btn-block">
                                        Cancel
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Create</button>
                                </div>
                            </div>
                            

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

